@use '../../styles/vars';
.legals{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.legals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: vars.$third-color;
    color: vars.$first-color;
    text-align: center;

   &-title{
       margin: 2rem;
       font-size: 4rem;
       font-weight: bold;
       text-transform: uppercase;
   }
   &-one{
       width: 50%;
       font-size: 2rem;
       margin: 2rem;
   }
   &-two{
       width: 50%;
       margin: 2rem;
       font-size: 2rem;
   }
   &-three{
    width: 50%;
    margin: 2rem;
    font-size: 2rem;
    
   }
}

@media screen and (max-width: 768px) {
    
    .legals{
        overflow-y: auto;
        background-color: vars.$third-color;
        &-title{
            font-size: 2rem;
            margin: 1rem;
        }
        &-one{
            font-size: 1.4rem;
            margin: 0.5rem;
            text-align: center;
            width: 90%;
        }
        &-three{
            font-size: 1.4rem;
            margin: 0.5rem;
            width: 90%;
            text-align: center;
        }
    }
}