.createOffer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18B7BE;
    background-image: url("../../assets/createoffer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}