@use '../../styles/vars';



@media screen and (min-width: 1000px) {
    
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$third-color;

    &-title{
        font-size: 4rem;
        margin: 1rem;
        color: vars.$first-color;
        text-transform: uppercase;
    }
    &-user{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        & i {
           display: none;
        }
    }
    &-lender{
        margin: 1rem;
    }

}
.left-profile{
    background-color: vars.$third-color;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title{
        font-size: 4rem;
        color: vars.$first-color;

        & i {
            font-size: 3rem;
            
        }
    }

    &-infos {
      background-color: vars.$first-color;
      margin: 2rem;
      border-radius: 10px;
      text-align: center;

    }
    &-info{
        display: flex;
        justify-content: space-between;
    }
    &-infos p {
        border-radius: 10px;
        font-size: 2rem;
        padding: 1rem;
        color: vars.$four-color;
    }

    &-buttons{
        display: flex;
    }
    &-button{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: #178ca4;
            color: #f9f7f0;
            font-size: 1.9rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;

    }
    &-delete {
        font-size: 2rem;
        margin: 10rem 2rem;
        color: vars.$four-color;
        text-align: center;
    }

    /* DELETE ACCOUNT BUTTON */

    .confirm-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        width: 75%;

        &-delete{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: #178ca4;
            color: #f9f7f0;
            font-size: 1.9rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
            width: 50%;
        }
        &-delete:hover{
            background-color: red;
        }

        &-cancel{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: #178ca4;
            color: #f9f7f0;
            font-size: 1.9rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
            width: 50%;
        }

        &-cancel:hover{
            background-color: green;
        }
       
    }
}
}

/* RIGHT SIDE */
.right-profile{
    width: 50%;
    display: flex;
    background-color: vars.$second-color;
    justify-content: center;
    align-items: center;

    &-infos-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        overflow-y: auto;

        &-title{
            font-size: 2rem;
            margin: 1rem;
            color: vars.$first-color;
            margin: 2rem;
            text-decoration: underline;
        }
    }
    &-infos-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        overflow-y: auto;

        &-title{
            font-size: 2rem;
            margin: 1rem;
            color: vars.$first-color;
            margin: 2rem;
            text-decoration: underline;
        }
    }

    &-borrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: vars.$first-color;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem;

        &-list{
            background-color: vars.$third-color;
            border-radius: 10px;
        }

        &-title{
            font-size: 2rem;
        }

        &-id{
            font-size: 1.5rem;
        }
        
        &-date{
            font-size: 1.5rem;
        }
    }

    &-lended{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: vars.$first-color;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem;

        &-list{
            background-color: vars.$third-color;
            border-radius: 10px;
        }

        &-title{
            font-size: 2rem;
        }
        
        &-description{
            font-size: 1.5rem;
        }

        &-date{
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 1000px) {

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: vars.$third-color;
        overflow-y: auto;
        

        &-title{
            font-size: 2rem;
            margin: 1rem;
            color: vars.$first-color;
            display: none;
        }

        &-user{
            height: 100%;
            width: 100%;
           
        }

    }
    .left-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 84vh;

        & i {
            font-size: 1rem;
            color: vars.$first-color;
            margin: 1rem;
        }

        &-title{
            font-size: 2rem;
            margin: 1rem;
            color: vars.$first-color;

            & i {
                margin: 1rem;
                font-size: 2rem;
                color: vars.$second-color;
            }
            
        }
        &-infos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: 1rem;

            & p {
                margin: 0.5rem;
                font-size: 1.7rem;
                color: vars.$four-color;
                align-self: center;
                
                
            }
        }
        &-info{
            display: flex;
            justify-content: space-between;
            background-color: vars.$first-color;
            border-radius: 10px;
            margin: 0.2rem 0;
        }

        &-buttons{
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        &-button{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: vars.$second-color;
            color: vars.$first-color;
            font-size: 1.5rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
        }
        &-delete{
            margin: 2rem;
            font-size: 2rem;
            font-weight: bold;
            color: vars.$four-color;
            text-align: center;
        }

    }

    .delete-profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .confirm-buttons{
        display: flex;
        margin: 3rem;
    }
    .confirm-buttons-delete{
        font-family: 'Dongle', sans-serif;
        border: none;
        background-color: vars.$second-color;
        color: vars.$first-color;
        font-size: 1.5rem;
        border-radius: 0.7rem;
        margin: 1rem;
        padding: 0.5rem;
        width: 150px;
    }
    .confirm-buttons-cancel{
        font-family: 'Dongle', sans-serif;
        border: none;
        background-color: vars.$second-color;
        color: vars.$first-color;
        font-size: 1.5rem;
        border-radius: 0.7rem;
        margin: 1rem;
        padding: 0.5rem;
        width: 150px;
    }

    .right-profile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 84vh;
        background-color: vars.$third-color;

        &-infos-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 50%;

            &-title{
                font-size: 2rem;
                margin: 2rem;
                color: vars.$first-color;
                text-decoration: underline;
            }
        }

        &-borrow{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: vars.$first-color;
            border-radius: 10px;
            margin: 1rem;
            padding: 1rem;

            &-list{
                background-color: vars.$third-color;
                border-radius: 10px;
            }
            &-title{
                font-size: 2rem;
                color: vars.$four-color;
            }
            &-id{
                font-size: 1.5rem;
            }
            &-date{
                font-size: 1.5rem;
            }
        }

        &-infos-right{
            display: none;
        }

        &-infos-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 50%;

            &-title{
                font-size: 2rem;
                margin: 2rem;
                color: vars.$first-color;
                text-decoration: underline;
            }
        }

        &-lended{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: vars.$first-color;
            border-radius: 10px;
            padding: 1rem;
            margin: 1rem;

            &-list{
                background-color: vars.$third-color;
                border-radius: 10px;
            }

            &-title{
                font-size: 2rem;
                color: vars.$four-color;
            }

            &-description{
                font-size: 1.5rem;
            }

            &-date{
                font-size: 1.5rem;
            }
        }
    }
   
    
}