@use '../../styles/vars';



@media screen and (min-width: 1000px) {
    
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$third-color;

    &-title{
        font-size: 5rem;
        margin: 1rem;
        color: vars.$first-color;
        text-transform: uppercase;
    }
    &-user{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

}
.left-profile{
    background-color: vars.$third-color;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &-title{
        font-size: 4rem;
        color: vars.$first-color;
    }

    &-infos {
      background-color: vars.$first-color;
      min-width: 20vw;
      margin: 1rem;
      border-radius: 10px;
      text-align: center;
    }
    &-infos p {
        border-radius: 10px;
        font-size: 2rem;
        padding: 0.5rem;
        color: vars.$four-color;
        margin: 1rem;
    }

    &-buttons{
        display: flex;
        flex-direction: column;
    }
    &-button{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: #178ca4;
            color: #f9f7f0;
            font-size: 1.9rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
    }
    &-delete {
        font-size: 2rem;
        margin: 2rem;
        color: vars.$four-color;
    }
}

.right-profile{
    background-color: vars.$second-color;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title{
        font-size: 4rem;
        color: vars.$first-color;
        
    }
    &-borrow{
      background-color: vars.$first-color;
      margin: 1rem;
      border-radius: 10px;
    }
    &-borrow p {
        font-size: 2rem;
        color: vars.$four-color;
        margin: 1rem;
    }
    &-lender {
      background-color: #f9f7f0;
      border-radius: 10px;
      margin: 3rem;
      & p{
        font-size: 2rem;
        color: vars.$four-color;
        margin: 1rem;
      }

      & button {
        border-radius: 0.7rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        padding: 0.5rem;
        background-color: #18b7be;
        border: none;
        color: #f9f7f0;
        font-family: Dongle,sans-serif;
        font-size: 1.4rem;
      }
    }
}

.profile-infos-lender {
  font-size: 3rem;
  margin: 1rem;
}

.profile-infos-title{
    font-size: 3rem;
    margin: 1rem;
}
.left-profile i {
    color: vars.$second-color;
}
.right-profile i { 
    color: vars.$third-color;
}
.confirm-buttons{
    display: flex;
}
.delete-confirm{
    margin: 2rem;
    background-color: vars.$first-color;
    color: red;
    width: 10vw;
    text-transform: uppercase;
    font-weight: bold;
}
.delete-confirm:hover{
    background-color: red;
    color: vars.$first-color;
}
.delete-cancel{
    margin: 2rem;
    background-color: vars.$first-color;
    color: green;
    width: 10vw;
    text-transform: uppercase;
    font-weight: bold;
}
.delete-cancel:hover{
    background-color: green;
    color: vars.$first-color;
}
}

@media screen and (max-width: 1000px) {

    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: vars.$third-color;
        overflow-y: auto;
        

        &-title{
            font-size: 2rem;
            margin: 1rem;
            color: vars.$first-color;
            display: none;
        }

        &-user{
            height: 100%;
            width: 100%;
           
        }

    }
    .left-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 84vh;

        &-title{
            font-size: 2rem;
            margin: 1rem;
            color: vars.$four-color;

            & i {
                margin: 1rem;
                font-size: 2rem;
            }
            
        }
        &-infos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 1rem;
            
            

            & p {
                margin: 0.5rem;
                font-size: 1.7rem;
                color: vars.$first-color;
                align-self: center;
                
            }
        }

        &-buttons{
            margin: 1rem;
            display: flex;
            flex-direction: column;

        }
        &-button{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: vars.$second-color;
            color: vars.$first-color;
            font-size: 1.5rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
        }
        &-delete{
            font-size: 2rem;
            font-weight: bold;
            color: vars.$four-color;
            text-align: center;
        }

    }
    .delete-profile{
        margin: 10rem 0;
    }
    .confirm-buttons{
        display: flex;
        width: 90%;
    }
    .delete-confirm{
        background-color: red;
        width: 50%;
    }
    .delete-cancel{
        background-color: green;
        width: 50%;
    }

    .right-profile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 84vh;
        
        &-title{
            font-size: 3rem;
            margin: 2rem;
            color: vars.$four-color;

            & i {
                font-size: 2rem;
            }
        }

        &-infos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            margin: 2rem;

            & p {
                font-size: 1.7rem;
                color: vars.$four-color;
            }
        }
    }
    .profile-infos-title{
        font-size: 2rem;
        margin: 1rem;
        color: vars.$first-color;
        text-decoration: underline;

    }
    
   
    
}
