.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/profil.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
