@use '../../styles/vars';



.header {
    height: 8vh;
    background-color: vars.$first-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo{

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;

        &-title {
            font-size: 2rem;
            color: vars.$second-color;
            margin: 0 1rem;
        }
        & i {
            font-size: 2rem;
            color: vars.$four-color;
        }
        
    }

    &-nav{
        height: 100%;
        display: flex;
        align-items: center;

        &-link{
            margin: 1rem;
            font-size: 2rem;
            color: vars.$four-color;
        }
        &-button{
            font-family: 'Dongle', sans-serif;
            border: none;
            background-color: transparent;
            font-size: 1.9rem;
            border-radius: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
        }
    }
}

.register{
    background: transparent;
    color: vars.$four-color;
    font-size: 2rem;
}
.loggin{
    background-color: vars.$second-color;
    color: vars.$first-color;
    font-size: 1.8rem;
}
.logout{
    background-color:  vars.$second-color;
    color: vars.$first-color;
    font-size: 1.8rem;
}

.active{
    text-decoration: underline;
}

.inputs-errors{
    font-size: 1.1rem;
    color: red;
}

@media screen and (max-width: 1000px) {

    .header{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        

        &-logo{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;

            & i {
                font-size: 1.5rem;
            }
            &-title {
                display: none;
            }
        }

        &-nav{
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0;

            &-link{
                font-size: 1.6rem;
                margin: 0.5rem;
            }

            &-button{
                font-family: 'Dongle', sans-serif;
                font-size: 1rem;
                margin: 0.5rem;
                padding: 0.5rem;
                background-color: transparent;
                border: none;
                border-radius: 0.7rem;
            }
        }
    }
    
    .loggin{
            background-color: vars.$second-color;
            color: vars.$first-color;
            font-size: 1.5rem;
    }
    .register{
            background: transparent;
            color: vars.$four-color;
            font-size: 1.5rem;
    }
    .logout{
        background-color:  vars.$second-color;
        color: vars.$first-color;
        font-size: 1.4rem;
    }
}