.legals{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

   &-title{
       margin: 4rem;
       font-size: 3rem;
       font-weight: bold;
       text-transform: uppercase;
   }
   &-one{
       width: 50%;
       margin: 2rem;
   }
   &-two{
       width: 50%;
       margin: 2rem;
   }
   &-three{
    width: 50%;
    margin: 2rem;
    
   }
}