.home{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../assets/bike.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

}
