.home{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../assets/bike.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

        &-link{
            // padding: 1rem;
        }
        &-button{
            // align-self: center;
            padding: 0.9rem;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;
            margin: 5rem ;
            background-color:  #178ca4;
            color: #F9F7F0;
            font-weight: bold;
    
        }

}
