.header{
    height: 10vh;
    background-color: #495aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-title{
        margin: 2rem;
        color: #f3F3F3;
    }
    &-link{
        color: #f3F3F3;
        margin: 2rem;
        text-transform: uppercase;
    }
}
.active{
    text-decoration: underline;
}