.footer{

    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #178CA4;
    
    &-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-link{
        color: #F9F7F0;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 0 2rem;

    }

}
