.offers{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/checkoffers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
